* {
    margin: 0;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}



header {
    background-color: #007AF0;
    padding: 10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 1200px;
    display: flex;
}


/*HERO SECTION*/
.hero-section{
    background-color: #0069D0;
}

.hero-section .left{
    display: flex;
    align-items: center;
    color: white;
    min-width: 50%;
    margin-left: 1vw;
}

.hero-section .left .title{
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.1em;
}

.hero-section .left p{
    margin: 1.5vw 0px;
    font-size: 1.8vw;
}

.hero-section .left a{
    background-color: #003A79;
    color: white;
    padding: 1.2vw 6vw;
    border-style: none;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    display: inline-block;
    text-decoration: none;
}

.hero-section {
    min-height: 45vw;
}

.hero-section .right{
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .right img{
    max-width: 35vw;
}

/*Services Section*/
#patient-services {
    margin-top: 40px;
    margin-bottom: 40px;
}

#patient-services p {
    font-size: 1.8vw;
}

.feature-title {
    text-align: left;
    margin-left: 0vw;
}


h2
{
    font-weight: bold;
    font-size: 48px;
}

section h1.title
{

    text-transform: capitalize;
    font: bold 40px 'Archivo';
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
    color: #3C5BA9;
}

.services {
    height: 100%;
    display: flex;
    margin-right: 48px;
    margin-left: 48px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.services h2{
    font-size: 32px;
    color: #3C5BA9;
}


.services h3{
    font-size: 2.8vw;
    margin-bottom: 12px;
    font-weight:bold;
    color: #3C5BA9;
}
.feature1-image img{
    margin-right: 7vw;
    margin-left: 3.5vw;
    height:25vw
}
.feature-text{
    text-align: left;
}

.feature-services-begin {
    margin-top: 1.8vw;
    display: flex;
    align-items: center;
    margin-bottom: 5vw;
}
.feature-services-begin-rigth {
    margin-right: 10vw;
    margin-left: 3.5vw;
}

.feature1-services {
    margin-top: 1vw;
    display: flex;
    align-items: center;
}
.feature2-services {
    margin-top: 10vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 3.1vw;
}

.feature2-image img{
    margin-right: 3vw;
    margin-left: 10vw;
    height:25vw
}

/*About Product*/
.about-product{
    background-color: #0069D0;
}

.about-product {
    height: 40vw;
}

.about-product .right{
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-product .right img{
    max-width: 500px;
}

#about-product .left{
    display: flex;
    align-items: center;
    color: white;
    min-width: 20%;
    margin-left: 1vw;
    margin-right: 10vw;
}

#about-product .left .title{
    font-size: 3vw;
    font-weight: 700;
    line-height: 1.1em;
}

#about-product .left p{
    margin: 1.5vw 0px;
    font-size: 1.8vw;
}

#about-product .left a{
    background-color: #003A79;
    color: white;
    padding: 1.2vw 6vw;
    border-style: none;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    display: inline-block;
    text-decoration: none;
}

@media (max-width: 800px) and (min-width:200px) {
    #about-product iframe {
        height: 150px;
        width: 200px;
    }
}
@media (max-width: 1300px) and (min-width:800px) {
    #about-product iframe {
        height: 250px;
        width: 450px;
    }
}

/*Physiotherapist section**/
.physiotherapist{
    background-color: white;
}

.physiotherapist {
    height: 50vw;
    margin-top: 1vw;
}

.physiotherapist .right{
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.physiotherapist .right img{
    margin-right: 10vw;
    margin-left: 12vw;
    height: 30vw;
}

.physiotherapist .left{

    display: flex;
    align-items: center;
    color: black;
    min-width: 45%;
    margin-left: 2vw;
    margin-right: 0vw;
}

.physiotherapist .left .title{

    font-size: 3vw;
    font-weight: 700;
    line-height: 1.1em;
}

.physiotherapist .left p{
    margin: 1.5vw 0px;
    font-size: 1.8vw;
}

.physiotherapist .left a{
    background-color: #003A79;
    color: white;
    padding: 1.2vw 12vw;
    border-style: none;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    display: inline-block;
    text-decoration: none;
}


#physiotherapist-services {
    margin-top: 40px;
    margin-bottom: 40px;
}

#physiotherapist-services p {
    font-size: 1.8vw;
}

/*Testimonials*/

#testimonials h1 {
    text-transform: capitalize;
    font: bold 40px 'Archivo';
    font-family: ibm-plex-sans, sans-serif;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 5vw;
    color: white;
}

#testimonials {
    background-color: #3C5BA9;
    height: 650px;
}
#testcards {

    box-sizing: border-box;
    font-family: ibm-plex-sans, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

}
.slide-container{
    width: 40vw;
    height: 40vw;

    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #FFF;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
}
.description{
    font-size: 20px;
    color: #707070;
    text-align: center;
}

.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .name {
        font-size: 15px;
    }
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}